<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.my.ReplyMapper">
	<insert id="insert" >
		INSERT INTO REPLY(RNUM,BNUM,USERID,CONTENT,IP,RESTEP,RELEVEL)
		VALUES (rseq.nextval,#{bnum}, #{userid}, #{content}, #{ip},#{restep},#{relevel})
	</insert>
	<!-- 글순서+1 -->
	<update id="updateRestep">
		UPDATE REPLY
		SET RESTEP = RESTEP +1
		WHERE BNUM = #{bnum}
		AND RESTEP >= #{restep}
	</update>
	
	<select id="selectList" resultType="java.util.Map">
			SELECT R.RNUM, R.BNUM, R.USERID, R.CONTENT, R.LIKECNT,R.DISLIKECNT,R.RESTEP, R.RELEVEL,
			TO_CHAR(R.REGDATE, 'YYYY-MM-DD HH24:MI:SS') REGDATE,
			TO_CHAR(R.MODIFYDATE, 'YYYY-MM-DD HH24:MI:SS') MODIFYDATE,
			NVL(UM.STATE,'0') STATE   
		FROM REPLY R LEFT JOIN 
		(SELECT * FROM USERMANAGE
		      WHERE GUBUN = '2'
		        AND USERID =  #{userid}) UM
		ON (R.RNUM = UM.NUM)
		WHERE BNUM = #{bnum}
		ORDER BY RESTEP
	</select>
	
	<update id="update">
		UPDATE REPLY
		SET CONTENT = #{content}
		WHERE RNUM = #{rnum}
	</update>

	<delete id="delete">
		delete reply
		where rnum = #{rnum}		
	</delete>
	<!-- 좋아요 +1 -->
	<update id="updateLikeCnt">
		UPDATE REPLY
		SET LIKECNT = LIKECNT +1
		WHERE RNUM = #{rnum}
	</update>
	<!-- 좋아요 -1 -->
	<update id="updateLikeCntCancel">
		UPDATE REPLY
		SET LIKECNT = LIKECNT -1
		WHERE RNUM = #{rnum}
	</update>

	<!-- 싫어요 +1 -->
	<update id="updateDisLikeCnt">
		UPDATE REPLY
		SET DISLIKECNT = DISLIKECNT +1
		WHERE RNUM = #{rnum}
	</update>
	<!-- 싫어요 -1 -->
	<update id="updateDisLikeCntCancel">
		UPDATE REPLY
		SET DISLIKECNT = DISLIKECNT -1
		WHERE RNUM = #{rnum}
	</update>
</mapper>